body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#index {
	padding: 0px;
	background-color: white;
}
lightgrey
footer{
	text-align: center;
}
#jumbotron1 {
    margin-bottom: 0px;
    background-color: lightseagreen;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
#jumbotron2 {
margin-bottom: 0px;
    margin-left: 18.5%;
    background-color: lightseagreen;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
#jumbotron3 {
	margin-bottom: 0px;
    background-color: lightseagreen;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
#sistemasdearmazenamento {
	background-color: white;
}
#about {
	padding: 0px;
	background-color: white;
}

#page{
	padding: 0px;
	width: 100%;
	max-width: none;
}

h4 {
	color: lightseagreen;
}
#evolucao {
	text-align: justify;
	text-justify: inter-word;
}
#legendatabela {
	color: black;
}
#listalateral { 
	background-color: white;
} 
img {
	display: block;
    margin: 0 auto;
}
#aboutbody1 {
	width:600px;
	height:500px;
	margin-top:0;
	margin-left:auto;
	margin-bottom:0;
	margin-right:auto;
	background-color: grey;
}
#aboutbody2 {
	width:515px;
	height:650px;
	margin-top:0;
	margin-left:auto;
	margin-bottom:0;
	margin-right:auto;
	background-color:;
}
#conteudo {
	margin-left: 19%;
}

#carouselIndex{
	width: 65%;
}
#sidebar{
	padding-bottom: 60px;
}
