body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#index {
	background-color: lightgrey;
}
lightgrey
footer{
	text-align: center;
}
.jumbotron {
    margin-bottom: 0px;
    background-color: lightseagreen;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
#sistemasdearmazenamento {
	background-color: lightgrey;
}
#about {
	background-color: lightgrey;
}

#page{
	width: 100%;
	max-width: none;
}

h4 {
	color: darkcyan;
}
#evolucao {
	text-align: justify;
	text-justify: inter-word;
}
#legendatabela {
	color: black;
}
#listalateral { 
	background-color: cadetblue;
} 
img {
	display: block;
    margin: 0 auto;
}
